	body {
		background-color: #00ABB3;
		color: #EAEAEA;
		font-size: 24px;
	}
	hr {
		border-color:#B2B2B2;
		border-style: dotted none none none;
		border-width:8px;
		height: 0px;
		margin-left: 0px;
		width: 35%;
	}
	h1 {
		color: #3C4048;
	}
	h3 {
		color: #3C4048;
	}
	p {
		color: #EAEAEA;
	}
	ul {
		color: #EAEAEA;
	}
	li {
		color: #EAEAEA;
	}
	img {
		background-color: #ffffff;
	}
	img:hover {
		background-color: #3C4048;
	}
	.circular {
		border-radius: 100%;
	}
	.solid {
		border-color: black;
		border-style: solid;
		border-width: 2px;
	}
	#Title {
		color: #3C4048;
	}